.git/
__pycache__/
*.py[cod]
*.so
.DS_Store

.cache/
.venv/
venv/

video_quality/data/
video_quality/data_action_following/
video_quality/output/
video_quality/output_action_following/
video_quality/output_JEDi/
video_quality/output_VLM/
video_quality/tmp_VLM/
video_quality/ours/
video_quality/veo3/
video_quality/veo3_1/
video_quality/JEDi/pretrained_models/

source/ours_test/
source/veo3_test/
source/veo3_1_test/

checkpoints/
models/
